:root{
    --color-green-main : #95E06E;
    --color-green-secondary : #4B9423;
    --color-grey-main : #323232;
    --color-grey-secondary : #F4F4F4;
    --color-grey-text : #4C8E03;
    --color-white : #FFFFFF;
}
*{margin:0;padding:0;box-sizing: border-box;}
body{background-color:var(--color-green-main);}
svg{vertical-align:top;}
input:focus{border-color:var(--color-green-secondary) !important;}
a{cursor: pointer;}
.container{display:flex;flex-direction: column;align-content: center;justify-content: center;min-height:100vh;}