<form id="settingsForm" class="ui form green">
  <div class="field">
    <label>Titre du site</label>
    <div class="ui left icon input">
      <input type="text" name="email" placeholder="E-mail">
      <i class="user icon"></i>
    </div>
  </div>
  <div class="field">
    <label>Mot de passe</label>
    <div class="ui left icon action input">
      <input type="text" name="password" placeholder="Mot de passe">
      <i class="key icon"></i>
      <div class="ui icon button toggleInputVisibility">
        <i class="eye icon"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Répéter le mot de passe</label>
    <div class="ui left icon action input">
      <input type="text" name="repeatPassword" placeholder="Mot de passe">
      <i class="key icon"></i>
      <div class="ui icon button toggleInputVisibility">
        <i class="eye icon"></i>
      </div>
    </div>
  </div>
  <button id="createUserSubmit" class="fluid ui basic button green" type="submit">
    <i class="paper plane icon"></i>
    Valider
  </button>
  <div class="ui error message"></div>
</form>