body{background-color:var(--color-green-main);}

.content{display:flex;flex-direction:column;position:relative;height:auto;min-width:100%;width:100%;padding:20px;background:var(--color-white);}
.content::after{content:"";position:absolute;left:0;bottom:0;background:var(--color-green-secondary);height:4px;width:100%;}

a{cursor:pointer;color:var(--color-green-secondary);text-decoration:underline;margin:10px 0 0 0;display:block;}
a:hover{color:var(--color-green-main);text-decoration:underline;}

.ui.container{display:flex;flex-direction: column;align-content: center;justify-content: center;min-height:100vh;}
#footer{position:absolute;bottom:0;margin:0 auto;}